<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOSH Dashboard</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    
<link rel="stylesheet" href="assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="main" class="layout-horizontal">
            <%- include('./topbar'); %>
            <div class="content-wrapper container mb-10" style="max-width: 800px;">
                
<div class="page-heading">
    <h3>My Notes</h3>
</div>
<div class="page-content">
	
			<% if(!notes.length) { %>
			You don't have any notes yet. <a href="/create">Create a new note!</a>
			<% } %>
        <div class="list-group">
			<% for (note in notes) { %>
			<a href="/n/<%= notes[note].id %>" class="list-group-item list-group-item-action"><%= notes[note].title %></a>
			<% } %>
			
                                        </div>
</div>

            </div>

            <footer>
                <div class="container">
                    <div class="footer clearfix mb-0 text-muted">
                        <div class="float-start">
                            <p>2021 © NOSH</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    
<script src="assets/js/pages/dashboard.js"></script>

    <script src="assets/js/pages/horizontal-layout.js"></script>



<svg id="SvgjsSvg1305" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;"><defs id="SvgjsDefs1306"></defs><polyline id="SvgjsPolyline1307" points="0,0"></polyline><path id="SvgjsPath1308" d="M-1 45L-1 45C-1 45 29.478260869565215 45 29.478260869565215 45C29.478260869565215 45 49.130434782608695 45 49.130434782608695 45C49.130434782608695 45 68.78260869565217 45 68.78260869565217 45C68.78260869565217 45 88.43478260869564 45 88.43478260869564 45C88.43478260869564 45 108.08695652173913 45 108.08695652173913 45C108.08695652173913 45 127.7391304347826 45 127.7391304347826 45C127.7391304347826 45 147.39130434782606 45 147.39130434782606 45C147.39130434782606 45 167.04347826086956 45 167.04347826086956 45C167.04347826086956 45 186.69565217391303 45 186.69565217391303 45C186.69565217391303 45 206.3478260869565 45 206.3478260869565 45C206.3478260869565 45 226 45 226 45C226 45 226 45 226 45 "></path></svg></body></html>