<header class="mb-5">
                <div class="header-top">
                    <div class="container">
                        <div class="logo">
                        <a href="/"><h3 style="margin-bottom:0px">NOSH</h3></a>
                        </div>
                        <div class="header-top-right">

                            <!-- Burger button responsive -->
                            <a href="#" class="burger-btn d-block d-xl-none">
                                <i class="bi bi-justify fs-3"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <nav class="main-navbar">
                    <div class="container">
                        <ul>
                            <li class="menu-item  has-sub">
                                <a href="#" class="menu-link">
                                    <i class="bi bi-file-earmark-fill"></i>
                                    <span>Files</span>
                                </a>
                                <div class="submenu ">
                                    <!-- Wrap to submenu-group-wrapper if you want 3-level submenu. Otherwise remove it. -->
                                    <div class="submenu-group-wrapper">
                                        
                                        
                                        <ul class="submenu-group">
                                            
                                       
                                        
                                            <li class="submenu-item">
                                                <a href="/create" class="submenu-link">New Note</a>

                                                
                                            </li>
										</ul>
                                        
                                        
                                    </div>
                                </div>
                            </li>
                            
                            
                            
                            <li class="menu-item  has-sub">
                                <a href="#" class="menu-link">
                                    <i class="bi bi-person-fill"></i>
                                    <span>Account</span>
                                </a>
                                <div class="submenu ">
                                    <!-- Wrap to submenu-group-wrapper if you want 3-level submenu. Otherwise remove it. -->
                                    <div class="submenu-group-wrapper">
                                        
                                        
                                        <ul class="submenu-group">
                                            
                                            <li class="submenu-item  ">
                                                <a href="/logout" class="submenu-link">Logout</a>
                                                
                                            </li>
                                            
                                        
                                    </ul></div>
                                </div>
                            </li>
                            
                            
                        </ul>
                    </div>
                </nav>

            </header>
